---
import { Icon } from "astro-icon/components";

import HeaderLink from "./HeaderLink.astro";

const links = [
  {
    href: "/",
    text: "Home",
  },
  {
    href: "/about",
    text: "About",
  },
  {
    href: "/blog",
    text: "Blog",
  },
];
---

<header
  id="__header"
  class="top-0 z-40 mx-auto h-12 w-full max-w-xl px-4 md:rounded-b"
>
  <nav class="flex h-full items-center justify-between font-display">
    <div class="mx-auto flex h-full items-center">
      {
        links.map((link) => (
          <HeaderLink
            class="flex h-full items-center justify-center px-4"
            href={link.href}
          >
            {link.text}
          </HeaderLink>
        ))
      }
    </div>
  </nav>
</header>

<button
  title="Toggle theme"
  class="absolute right-2 top-4 z-50 cursor-pointer sm:right-4"
  id="theme-toggle-button"
>
  <Icon name="mdi:lightbulb" onclick="handleClickToggleTheme()" />
  <script is:inline data-astro-rerun>
    (() => {
      /**
       * @type {() => "light" | "dark" | null}
       */
      const overwrittenTheme = () =>
        (typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")) ||
        null;

      const mediaTheme = () =>
        window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";

      const theme = () => overwrittenTheme() || mediaTheme();

      /**
       * @param {"light" | "dark" | null} theme
       */
      const applyTheme = (theme = null) => {
        const rt = theme || overwrittenTheme();
        if (rt) {
          window.localStorage.setItem("theme", rt);
        }

        const cl = document.documentElement.classList;

        const mt = mediaTheme();

        if (mt !== rt || !cl.contains(rt)) {
          cl.value = rt ?? "";
        } else {
          cl.value = "";
        }
      };

      applyTheme();

      const handleToggleClick = () => {
        const t = theme();

        if (!document.documentElement.classList.contains(t)) {
          return applyTheme();
        }

        if (t === "light") {
          applyTheme("dark");
        } else {
          applyTheme("light");
        }
      };

      window.handleClickToggleTheme = handleToggleClick;
    })();
  </script>
</button>
