---
/* eslint-disable @typescript-eslint/no-unsafe-assignment */
import "~/styles/tailwind.scss";

import { cn } from "~/app/css";
import BaseHead, {
  type ImageProp,
  type SeoProps,
} from "~components/BaseHead.astro";
import Footer from "~components/Footer.astro";
import Header from "~components/Header.astro";

type Props = {
  title?: string;
  description?: string;
  image?: ImageProp;
  mainClass?: string;
  seo?: SeoProps;
};

const { title, description, image, mainClass, seo } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <BaseHead title={title} description={description} image={image} seo={seo} />
  </head>
  <body class="flex min-h-screen flex-col bg-base-bg bg-cover text-base-fg">
    <Header />
    <main class={cn("mx-auto w-full max-w-3xl flex-1 p-4", mainClass ?? "")}>
      <slot />
    </main>
    <Footer class="mt-auto" />
  </body>
</html>
